width: 100px; /* Define a largura de um elemento */
height: 40px; /* Define a altura de um elemento */
background-color: #f0f0f0; /* Define a cor de fundo de um elemento */
color: #333; /* Define a cor do texto de um elemento */
font-size: 16px; /* Define o tamanho da fonte */
font-weight: bold; /*  Define o peso da fonte */
border: 1px solid #ccc; /* Define uma borda sólida ao redor de um elemento */
padding: 10px; /* Define o preenchimento dentro de um elemento */
margin: 20px; /* Define a margem ao redor de um elemento */
text-align: center; /* Define o alinhamento do texto dentro de um elemento */
border-radius: 5px; /* Define o raio da borda para criar bordas arredondadas */
opacity: 0.5; /* Define a opacidade de um elemento (0.0 - 1.0) */
cursor: pointer; /* Define o tipo de cursor a ser exibido quando o mouse estiver sobre um elemento */
