:root {
  --blue-600: #1d90ff;
  --gray-50: #fafafa;
}

* {
  color: var(--gray-50);
  font-size: 50px;
  font-family: "Gabarito", cursive;
}

.content {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.content div {
  background-color: var(--blue-600);
  height: 80px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shrink div {
  width: 250px;
}

.basis div {
  width: 250px;
}

.flex div {
  width: 50px;
}

.self div {
  display: flex;
  align-items: flex-start;
  width: 80px;
  height: 250px;
}
