:root {
  --red-500: red;
  --blue-500: blue;
  --white: white;
}

ul {
  list-style: none;
  margin: 0;
  padding: 50px;
  background-color: var(--red-500);
  border: 4px solid black;
}

li {
  background-color: var(--blue-500);
  margin-bottom: 16px;
  color: var(--white);
  font-size: 24px;
}

.first-list {
  width: 250px;
  letter-spacing: 5px;
  text-align: right;
}

.second-list {
  width: 160px;
  text-align: center;
  font-weight: bold;
}

.third-list {
  width: 80px;
  height: 50px;
  text-align: left;
  font-style: italic;
}
