:root {
  --gray-200: #8695a4;
  --gray-900: #21243d;

  --red-400: #ff6464;

  --blue-100: #edf7fa;
  --blue-800: #a8e13c;

  --white: #fff;
  --radius: 4px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Heebo", sans-serif;
  padding: 24px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 24px;
  justify-content: flex-end;
}

a {
  text-decoration: none;
  color: var(--gray-900);
  font-weight: bold;
  font-size: 18px;
}

.apresentacao {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 800px;
}

.apresentacao section {
  display: flex;
  flex-direction: column;
  gap: 24px;
  /* margin: topo direita baixo esquerda  */
}

.apresentacao section h1 {
  font-size: 40px;
  max-width: 400px;
  color: var(--blue-800);
}

.apresentacao section p {
  max-width: 500px;
}

.apresentacao section button {
  height: 40px;
  width: 150px;
  background-color: #a8e13c;
  color: var(--white);
  font-weight: bold;
  border: none;
  cursor: pointer;

  border-radius: var(--radius);
}

.apresentacao img {
  border: 3px solid black;
  border-radius: 50%;
}
