:root {
  --gray-200: #8695a4;
  --gray-900: #21243d;

  --red-400: #ff6464;

  --blue-100: #edf7fa;
  --blue-800: #142850;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
}

a {
  color: gray;
}

a,
button {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

header {
  background-color: red;
  padding: 16px;
}

nav a {
  color: black;
}

.title-header {
  color: blue;
}

.article01 h3 {
  color: red;
}

.article02 h3 {
  color: gray;
}

.article03 h3 {
  color: green;
}

.article04 h3 {
  color: pink;
}
